@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');
}

/* 초기화 부분 */
body,
h1,
h2,
ul,
li,
p,
input,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
strong {
    line-height: inherit;
    font-weight: inherit;
}

:root {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 14px;
}


/* 텍스트 숨김 */

.text-hide {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* 전체 배경 부분 */
body {
    background: #EAE8FE;
}

/* 헤더 로고 부분 */
.header-title {
    height: 180px;
    text-align: center;
    margin-bottom: 67px;
}

/* 메인 컨테이너 - 플렉스 정렬 */

.section-container {
    display: flex;
    justify-content: center;
}

/* 메인 컨테이너의 자판기 크기 설정 */

.box-item_page1 {
    width: 360px;
    height: 545px;
    background-color: white;
    margin-right: 18px;
}

.box-item_page2 {
    width: 360px;
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EAE8FE;
}

/* 자판기 음료 목록 - 그리드 정렬 */
.list-goods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 31px 15px 8px 27px;
}

/* 자판기 상품 디자인 부분 */
.list-goods li {
    width: 94px;
    height: 130px;
    margin: 0 12px 12px 0;
}

.list-goods li button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px #e3e3e3, 0 -2px 2px #e3e3e3;
    border: 2px solid gainsboro;
    border-radius: 10px;
    cursor: pointer;
}

/* 버튼 호버 효과 */
.list-goods li button:hover {
    background-color: #6327FE;
    transition: 0.3s;
}

.list-goods li button:focus {
    border: 4px solid #6327FE;
    border-radius: 10px;
}

.list-goods li button img {
    margin-bottom: 6px;
}

.list-goods li button span {
    margin-bottom: 5px;
    width: 73px;
    height: 10px;
    font-size: 9px;
    color: #333333;
}

.list-goods li button strong {
    width: 70px;
    height: 22px;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 12px;
    background: #6327FE;
    color: white;
    line-height: 1.2;
    padding: 5px 16px 5px 15px;
}

/* 품절 가상요소 */
.soldOut::before {
    content: '품절';
    position: absolute;
    left: inherit;
    width: 94px;
    height: 130px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8) url(../img/Sold-out.svg) no-repeat center;
    cursor: not-allowed;
}

/* 자판기 음료 구매 - 그리드 정렬 */
.list-input {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 27px 28px;
}

/* 잔액 및 입금액 입력 */
.text-balance {
    width: 200px;
    height: 33px;
    background-color: #EAE8FE;
    margin: 0 12px 11px 0;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-money {
    width: 200px;
    height: 33px;
    margin: 0 12px 11px 0;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid gainsboro;
    border-radius: 5px;
}

/* 입금 및 반환 버튼 */
.button-return,
.button-deposit {
    width: 94px;
    height: 33px;
    background: #fff;
    border: 2px solid gainsboro;
    border-radius: 5px;
    font-size: 13px;
    box-shadow: 0 2px 2px #e3e3e3, 0 -2px 2px #e3e3e3;
}

/* 구매 리스트 - box-item_page1, box-item_page2 */
.list-shopping {
    width: 200px;
    height: 106px;
    background-color: #EAE8FE;
    overflow: hidden scroll;
}

.list-purchase {
    width: 306px;
    height: 364px;
    background-color: #EAE8FE;
    overflow: hidden scroll;
    margin: 0 27px;
}

.list-shopping::-webkit-scrollbar,
.list-purchase::-webkit-scrollbar {
    width: 4px;
}

.list-shopping::-webkit-scrollbar-thumb,
.list-purchase::-webkit-scrollbar-thumb {
    height: 79px;
    background-color: #fff;
    border-radius: 50px;
}

.list-purchase ul,
.list-shopping ul {
    margin: 12px;
}

.list-shopping li {
    width: 170px;
    height: 46px;
    margin-bottom: 6px;
}


.list-purchase li {
    width: 276px;
    height: 46px;
    margin-bottom: 6px;
}


.list-purchase li button,
.list-shopping li button {
    width: 100%;
    height: 100%;
    padding: 6px 8px 7px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

/* 버튼 호버 효과 */
.list-purchase li button:hover,
.list-shopping li button:hover {
    background: #6327FE;
    transition: 0.8s;
    color: #fff;
}

.list-purchase li button:focus,
.list-shopping li button:focus {
    border: 2px solid #6327FE;
    border-radius: 10px;
}


.list-purchase li button img,
.list-shopping li button img {
    width: 18px;
    height: 33px;
}

.list-purchase li button span,
.list-shopping li button span {
    font-size: 9px;
    margin-left: 10px;
}

.list-purchase li button strong,
.list-shopping li button strong {
    margin-left: auto;
    width: 30px;
    height: 30px;
    padding: 4px 11px 6px;
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    line-height: 20px;
    display: flex;
    justify-content: center;
}

/* 음료 획득 및 구매 링크(list-purchase)로 이동 */
.anchor-get {
    width: 94px;
    height: 106px;
    border-radius: 5px;
    background-color: #6327FE;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
}

/* 소지금 부분 */
.box-wallet {
    height: 50px;
    background-color: #fff;
}

.text-wallet {
    width: 306px;
    height: 32px;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #EAE8FE;
    margin: 9px 27px;
    display: flex;
    justify-content: space-between;
}

/* 획득한 음료 부분 박스 설정 */
.box-goods {
    background-color: #fff;
}

/* 구매 리스트 타이틀 */
.text-getList {
    width: 68px;
    height: 20px;
    margin: 30px auto 13px;
    font-weight: 700;
}

/* 총금액 */
.text-totalMoney {
    width: 109px;
    height: 20px;
    margin: 6px 28px 10px 224px;
    text-align: end;
    font-size: 12px;
}

@media screen and (max-width:780px) {

    body {
        background: #fff;
    }

    .header-title {
        height: 88px;
        margin: 0 auto 8px;
    }

    .header-title img {
        width: 188px;
        height: 88px;
    }

    .section-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .box-item_page1,
    .box-item_page2 {
        margin: 0;
        height: auto;
    }

    .list-goods {
        margin-top: 0;
    }

    .list-input {
        margin-bottom: 20px;
    }

    .box-wallet {
        height: 32px;
        margin-bottom: 0
    }

    .text-wallet {
        margin-top: 0;
    }

    .text-getList {
        margin-top: 41px
    }

    .box-goods {
        flex-grow: 1;
    }

}